body {
    background-color: hsl(0, 0%, 65%);
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: hsl(0 0% 100%);


}

h1 {
    font-family: cursive;
    font-size: 60px;
    color: hwb(0 0% 37%);
}

h2 {
    font-size: 30px;
}

.link-container {
    background-color: hwb(0 0% 37%);
}