body {
    background-color: #ffffff;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: #00ff6e;


}

h1 {
    font-family: cursive;
    font-size: 60px;
}

.my-container {
    background-color: black;
}



