body {
    background-color: hsl(115, 100%, 93%);
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: #00ff6e;
    transition: 200ms;

}

a:hover {
    color: #00ff6e;
    background-color: #002e1e;
}

h1 {
    font-family: cursive;
    font-size: 60px;
}

h1:hover {
    color: #00ff6e;
    background-color: #002e1e;
}

h2 {
    font-size: 30px;
}

.my-container {
    background-color: hsl(0, 0%, 100%);
}

.my-container:hover {
background: hsl(115, 100%, 93%);

}

@media (max-width: 1500px) {
    body {
      background-color: hsl(0, 0%, 0%); 
      font-style: normal;
      color:hsl(115, 100%, 93%);
    }
      a:hover {
        color: #000;
        background-color: #000;
    
    }
    .my-container {
        background-color: hsl(115, 100%, 93%);
    }

    .my-container:hover {
background-color: #000;

    }
    }

@media (max-width: 768px) {
    body {
      background-color: #002e1e; 
      font-style: normal;
      color:hsl(115, 100%, 93%);
    }
      a {
        color: #00ff6e;
    
    }
    .my-container {
        background-color: #000;
    }
    }



