body {
    background-color: hsl(115, 100%, 93%);
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: #00ff6e;
    transition: 200ms;

}

a:hover {
    color: #00ff6e;
    background-color: #002e1e;
}

h1 {
    font-family: cursive;
    font-size: 50px;
}

h1:hover {
    color: #00ff6e;
    background-color: hsl(0, 0%, 0%);
}

h2 {
    font-size: 30px;
}

.my-container {
    background-color: hsl(0, 0%, 100%);
}

.my-container:hover {
background: hsl(115, 100%, 93%);

}



@media (max-width: 2000px) {
    body {
      background-color: hsl(0, 0%, 0%); 
      font-style: normal;
      color: hsl(115, 100%, 93%);
    }



    }
      a:hover {
        color: #000;
        background-color: #000;
    
    }
    .my-container {
        background-color: hsl(0, 0%, 0%);
    }

    .my-container:hover {
background-color: #000;

    }
    .h3 {
        background-color: #000;
        position: fixed;
        font-size: 15px;
        height: 15px;
        width: 200px;
        left: 662px;
        bottom: 415px;
        }

    .button {
        background-color: #002e1e;
        border: none;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 4px 2px;
        border-radius: 12px; 
        height: 20px;
        width: 125px;
        transition: 500ms;
    }

    .button:hover {
        color: #00ff6e;
        background-color: #000;

    }

    .senses {
        background: #000;
        border-radius: 20px;
        border-color: #000;
        position: absolute;
        margin: 10px auto; 
        padding: 20px;
        height: 10px;
        width: 500px;
        top: 40px;
        right: 35px;
    }

    .answer-box {
        background: #000;
        color: #000;
        border-radius: 20px;
        margin: 10px auto; 
        padding: 20px;
        text-align: center;
        height: 125px;
        width: 1000px;
        position: absolute;
        left: 230px;
        bottom: 200px;
        transition: 500ms;
    }


    .answer-box:hover {
        color: hsl(115, 100%, 93%);
        background: #000;
    }



    @media (max-width: 768px) {
    body {
      background-color: #000; 
    }


    .senses {
        border-radius: 20px;
        border-color: #000;
        position: absolute;
        margin: 10px auto; 
        padding: 20px;
        height: 10px;
        width: 350px;
    }

    .answer-box {
        background: #000;
        color: hsl(115, 100%, 93%);
        border: 3px dotted hsl(115, 100%, 93%);
        border-radius: 20px;
        margin: 10px auto; 
        padding: 20px;
        text-align: center;
        height: 125px;
        width: 268px;
        position: absolute;
        left: 10px;
        bottom: 50px;
    }

    .h3 {
        background-color: #000;
        position: fixed;
        font-size: 15px;
        height: 15px;
        width: 200px;
        }

    .button {
        background-color: #002e1e;
        border: none;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 4px 2px;
        border-radius: 12px; 
    }

    }



