body {
    background:hwb(0 0% 100%);
    margin: 0px;
  }

  h1 { 
    font-family: "Jacques Francois Shadow", serif;
    color: rgb(255, 51, 51);
    margin: 0px;
    font-size: 75px;
  }


  h2 {
    font-family: "Tangerine", cursive;
    font-size: 175px;
    font-style: normal;
    color: rgb(255, 51, 51); 
  }

  h3 {
    font-family: "Jacques Francois Shadow", serif;
    color: rgb(255, 51, 51);
    margin: 0px;
    font-size: 200px;

  } 

  .jacques-francois-shadow-regular {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }  

  .tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  
  .posterborder {
background-color: #000;
border: 15px dotted hwb(0 26% 15%);
position: relative;
margin: 10px auto; 
padding: 20px;
height: 75vh; 
width: 75vh; 
top: 85px;

  }
  .poster {
    background: url(https://i.imgur.com/5lwwHBU.png);
    border-radius: 20px;
    border-color: #fff;
    position: relative;
    margin: 10px auto; 
    padding: 20px;
    height: 93vh; 
    width: 70vh; 
    top: -105px;
  }


  .hapell {
    width:30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    top: -200px;
    left: 155px;
  }

  .roan {
    width:30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    bottom: 510px;
    left: 85px;
  }

  .capital {
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    top: -25px;
    bottom: 700px;
    left: 175px;
    right: 100px;

  }

  .name {
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    top: -15px;
    bottom: 750px;
    left: -10px;
    right: 100px;
  }

  .script {
    width: 360px;
    height: 80px;
    background: none;
    font-family: "Tangerine", cursive;
    font-size: 35px;
    font-style: normal;
    line-height: 110%;
    color: hsl(0, 0%, 43%); 
    border-radius: 350px / 85px;
    position:absolute;
    bottom: 355px;
    left: 30px;

  }

  .midwest {
    width: 55vh;
    height: 1vh;
    background: none;
    border-radius: 20px;
    position:absolute;
    
  }


  
  
  .circle {
    width:25vh;
    height: 25vh;
    background:#000000;
    opacity: 0.5;
    border-radius:50%;
    position:absolute;
    bottom:125px;
    right:30px;
    transition: 200ms;
  }

  .circle:hover {

background: hwb(108 79% 0%)
  }



  .rectangle {
    width:30vh;
    height: 15vh;
    background: none;
    font-family: "Spicy Rice", serif;
    font-size: 27px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 51, 51);
    border-radius: 20px;
    border-color: #fff;
    position: absolute;
    bottom: 250px;
    left: 25px;
    transition: 200ms;
}

.rectantgle:hover {
    background: black;
    font-family: "Spicy Rice", serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 51, 51);


}

.info {
  width:30vh;
  height: 15vh;
  background: none;
  border-radius: 20px;
  position:absolute;
  top: 10px;
  transition: 200ms;
    
}

.info:hover {
    width:35vh;
    height: 17vh;
background: none;
font-family: "Spicy Rice", serif;
font-size: 32px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color: hsl(134, 100%, 65%);
border: 5px dotted rgb(255, 51, 51);
left: 10px;
}

.rectangle2 {
  width:30vh;
  height: 7vh;
  background: none;
  font-family: "Spicy Rice", serif;
  font-size: 17px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 51, 51);
  border-radius: 20px;
  border-color: #fff;
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.info2 {
  width:30vh;
  height: 7vh;
  background: none;
  border-radius: 20px;
  position:absolute;
  top: 10px;
  transition: 200ms;
    
}

.info2:hover {

    width:35vh;
    height: 8vh;
background: none;
font-family: "Spicy Rice", serif;
font-size: 23px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color: hsl(134, 100%, 65%);
border: 5px dotted rgb(255, 51, 51);
left: 10px;
}
