body {
    background:#ffaff3;
    margin: 0px;
  }

  h1 { 
    font-family: "Jacques Francois Shadow", serif;
    color: red;
    margin: 0px;
    font-size: 75px;
  }


  h2 {
    font-family: "Tangerine", cursive;
    font-size: 200px;
    font-style: normal;
    color: red; 
  }

  h3 {
    font-family: "Jacques Francois Shadow", serif;
    color: red;
    margin: 0px;
    font-size: 200px;

  } 

  .jacques-francois-shadow-regular {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }  

  .tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  
  .poster {
    background: url(https://i.imgur.com/DQQE6Xb.png);
    border-radius: 20px;
    border-color: #fff;
    position: relative;
    margin: 10px auto; 
    padding: 20px;
    height: calc(112vh - 40px - 20px); 
    width: 57vh; 
  }


  .hapell {
    width:30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    top: -200px;
    left: 150px;
  }

  .roan {
    width:30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    bottom: 525px;
    left: 85px;
  }

  .capital {
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    top: -25px;
    bottom: 700px;
    left: 175px;
    right: 100px;

  }

  .name {
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    position:relative;
    top: -40px;
    bottom: 725px;
    left: -10px;
    right: 100px;
  }

  .script {
    width: 350px;
    height: 85px;
    background: red;
    font-family: "Tangerine", cursive;
    font-size: 50px;
    font-style: normal;
    line-height: 80%;
    color: #fff; 
    border-radius: 350px / 85px;
    position:absolute;
    bottom: 255px;
    left: 75px;
    transition: 200ms;

  }

  .midwest {
    width: 50vh;
    height: 1vh;
    background: red;
    border-radius: 20px;
    position:absolute;
    transition: 200ms;
    
  }

  .script:hover {
width: 375px;
height: 90px;
left: 55px;
bottom: 245px;
background: #ffaff3;
color: red;
  }


  
  
  .circle {
    width:25vh;
    height: 25vh;
    background:red;
    border-radius:50%;
    position:absolute;
    bottom:55px;
    right:30px;
    transition: 200ms;
  }

  .circle:hover {
    background: #ffaff3;

  }



  .rectangle {
    width:30vh;
    height: 15vh;
    background: #ffaff3;
    font-family: "Chicle", serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: red;
    border-radius: 20px;
    border-color: #fff;
    position: absolute;
    bottom: 125px;
    left: 25px;
}

.info {
  width:30vh;
  height: 15vh;
  background: #ffaff3;
  border-radius: 20px;
  position:absolute;
  top: 10px;

    
}

.rectangle2 {
  width:30vh;
  height: 7vh;
  background: #ffaff3;
  font-family: "Chicle", serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: red;
  border-radius: 20px;
  border-color: #fff;
  position: absolute;
  bottom: 50px;
  left: 25px;
}

.info2 {
  width:30vh;
  height: 7vh;
  background: #ffaff3;
  border-radius: 20px;
  position:absolute;
  top: 10px;

    
}
