body {
    background-color: hsl(0, 0%, 65%);
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: hwb(0 0% 37%);


}

h1 {
    font-family: cursive;
    font-size: 60px;
    color: hwb(0 0% 37%);
}

h2 {
    font-size: 30px;
}

.my-container {
    background-color: hsl(0, 0%, 100%);
}

.container {
    position: absolute;
    top: 495px;
    right: 60px;
}

.moon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 3.5rem 3rem 0 0 #fff77e;
}

.moon:hover {
box-shadow: 0 0 30px #fff77e, 0 0 60px #fff77e,
0 0 90px #fff77e;
transition: 100ms;
}



