body {
    background-color: hsl(0, 0%, 65%);
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: hwb(0 0% 37%);


}

h1 {
    font-family: cursive;
    font-size: 60px;
    color: hwb(0 0% 37%);
}

h2 {
    font-size: 30px;
}

.my-container {
    background-color: hsl(0, 0%, 100%);
}

.rain-container {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 5px;
    background-color: hsl(0, 0%, 65%);
  }
  
  .drop {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #fff;
    animation: fall 1s linear infinite;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(100vh);
    }
  }

