body {
    background-color: black;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#002e1e;
}

a {
    color: #e50000;


}

a:hover {
    color: white;
    transition: 200ms;
}

h1 {
    font-family: cursive;
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.link-container {
    background-color: #790101;
}

.my-container {
    background-color: #790101;
}

.my-container a {
    color: white;
}

.signchainleft {
    color: black;
    background-color: black;
    border: 15px dashed gray;
    position: fixed;
    height: 1px;
    width: 200px;
    top: 300px;
    left: 250px;


}

.chainleft {
    color: black;
    background-color: black;
    border: 15px dashed gray;
    position: fixed;
    height: 200px;
    width: 1px;
    top: 5px;
    left: 250px;
}

.signchainright {
    color: black;
    background-color: black;
    border: 15px dashed gray;
    position: fixed;
    height: 1px;
    width: 200px;
    top: 300px;
    right: 250px;

}

.chainright {
    color: black;
    background-color: black;
    border: 15px dashed gray;
    position: fixed;
    height: 200px;
    width: 1px;
    top: 5px;
    right: 250px;
}

.question-box {
    position: center;
    background: url('https://plus.unsplash.com/premium_photo-1675782999354-2f2711e437a5?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b2xkJTIwd29vZHxlbnwwfHwwfHx8MA%3D%3D'); 
    background-position: bottom;
    background-color: hsl(23, 89%, 19%);
    height: 200px;
    width: 500px;
    border-radius: 5px;
}




